---
Language: Cpp
BasedOnStyle: Google

AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
BitFieldColonSpacing: After
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
ColumnLimit: 80
ForEachMacros:
  - rep
  - rrep
IncludeCategories:
  - Regex: '^"template/template\.hpp"$'
    Priority: -1
InsertNewlineAtEOF: true
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeRangeBasedForLoopColon: false
